* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 2000px;
}

@media (max-width: 1100px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  overflow: hidden;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a.header_button:hover {
  color: #DFA71A;
  cursor: pointer;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.text_title {
  font-family: "Montserrat", sans-serif;
  font-size: calc(24px + 24 * (100vw / 1600));
  color: #ffffff;
}

.text_text {
  font-family: "Montserrat", sans-serif;
  font-size: calc(14px + 20 * (100vw / 1600));
  color: #ffffff;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-size: calc(14px + 20 * (100vw / 1600));
  color: #ffffff;
  background-color: #DFA71A;
  border-radius: 100px;
  padding: 14px;
  -webkit-box-shadow: 0 0 10px #111111;
          box-shadow: 0 0 10px #111111;
}

.white-line {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.header {
  background-color: #111111;
  z-index: 100;
}
@media (max-width: 1100px) {
  .header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #111111;
    z-index: 3;
  }
}
.header_burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}
.header_burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}
.header_burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.header_burger {
  display: none;
}
@media (max-width: 1100px) {
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
}
@media (max-width: 1100px) {
  .header_burger:before, .header_burger:after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    left: 0;
  }
}
@media (max-width: 1100px) {
  .header_burger:before {
    top: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
@media (max-width: 1100px) {
  .header_burger:after {
    bottom: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
@media (max-width: 1100px) {
  .header_burger span {
    position: absolute;
    background-color: #ffffff;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 1100px) {
  .header_nav {
    position: absolute;
    left: 0;
    top: -120%;
    width: 100%;
    height: 100vh;
    background-color: #202020;
    padding-top: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
  }
}
.header_nav.active {
  top: 0;
}
.header_content {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 2;
  height: 30px;
}
@media (max-width: 1100px) {
  .header_content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header_content.no-main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_logo {
  display: none;
}
@media (max-width: 1100px) {
  .header_logo {
    display: block;
    z-index: 5;
  }
}
.header_logo.no-main {
  display: block;
}
.header_button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 20px;
  color: #ffffff;
}
.header_button:hover, .header_button_active {
  color: #DFA71A;
  cursor: pointer;
}

.welcome {
  background: url("../imgs/greenCat.png") 60% 0/cover no-repeat;
  height: 750px;
}
@media (max-width: 1100px) {
  .welcome {
    background: url("../imgs/greenCat.png") 70% 0/cover no-repeat;
  }
}
.welcome_block {
  background-color: #202020;
  max-width: 450px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1100px) {
  .welcome_block {
    display: none;
  }
}
.welcome_block_logo {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  color: #ffffff;
}
.welcome_block_logo-plus {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  color: #ffffff;
}
.welcome_block_contacts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.welcome_block_contact {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.about {
  background: url("../imgs/blueCat.png") 0 100%/auto 100% no-repeat;
  background-color: #5F7387;
  overflow: auto;
  padding-bottom: 50px;
}
@media (max-width: 1100px) {
  .about {
    background: #111111;
    overflow: hidden;
  }
}
.about_info {
  float: right;
  width: 50%;
  margin: 0 auto;
  padding: 40px;
}
@media (max-width: 1100px) {
  .about_info {
    width: 80%;
    float: none;
  }
}
.about_info_title {
  padding-top: 20px;
  padding-bottom: 20px;
}
.about_info_text {
  padding-bottom: 20px;
}
.about_info_button {
  float: right;
}
@media (max-width: 1100px) {
  .about_info_button {
    padding: 10px;
  }
}

.news {
  background: url("../imgs/simpleCat.png") 60% 50%/auto 100% no-repeat;
  background-color: #5F7387;
  padding: 50px 0;
}
@media (max-width: 1600px) {
  .news {
    background-position: 150% 100%;
  }
}
@media (max-width: 1100px) {
  .news {
    background: #5F7387;
  }
}
.news_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1100px) {
  .news_content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.news_text {
  max-width: 500px;
  padding-left: 40px;
}
.news_text_title {
  padding-bottom: 20px;
}
.news_text_line {
  margin: 20px 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
@media (max-width: 1100px) {
  .news_text_line {
    width: 80%;
  }
}
.news_text_button {
  margin: 20px;
  float: right;
}
.news_calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1600px) {
  .news_calendar {
    display: none;
  }
}
.news_calendar_text {
  padding-bottom: 20px;
}
.news_calendar_news {
  margin-bottom: 20px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px #111111;
          box-shadow: 0 0 10px #111111;
}
.news_calendar_news-date {
  padding: 20px;
  width: 60px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  background-color: #DFA71A;
  margin: 0 auto;
}
.news_calendar_news-text {
  font-size: 24px;
  margin: 0 auto;
  color: #000000;
  text-align: center;
  width: 500px;
}
.news_calendar_button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main_cats {
  background-color: #DFA71A;
  min-height: 88vh;
}

.title-of-photos {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.photos {
  padding: 40px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.photos_block {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
}
@media (max-width: 400px) {
  .photos_photo {
    width: 250px;
  }
}

.about-cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
}
@media (max-width: 1000px) {
  .about-cat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.about-cat_text {
  width: 50%;
  padding-bottom: 20px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (max-width: 1000px) {
  .about-cat_text {
    width: 100%;
  }
}
.about-cat_img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-bottom: 50px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
  background-color: #111111;
}
.footer_logo {
  color: #ffffff;
}
.footer_num {
  color: #ffffff;
}
.footer_mail {
  color: #ffffff;
}
.icon {
  width: 20px;
  height: 20px;
}